.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 30px 15px;
  border-radius: 5px;
  width: 320px;
}

.modal p {

}

.close-wrapper {
  text-align: right;
}