
body {
  font-family: 'DMsans', sans-serif;
  color: #2B292D;
  background-color: #F2F3F7;
  padding: 0 20px;
}

button {
  border: none;
  background: none;
}

.items {
  border-bottom: 1px solid #333;
  margin: 1rem 0;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items button {
  width: 80px;
  background: #0066ff;
  color: #fff;
  padding: 10px;
  margin-left: 10px;
  border-radius: 4px;
}

.black-nav {
  color: #2B2E35;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 20px;
}

.black-nav button {
  border: none;
  cursor: pointer;
  padding: 20px;
  background-color: #ccc;
}

.list {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: opacity 0.5s ease;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.list:hover {
  opacity: 0.7;
}

.list a {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: 220px; */
  /* border-bottom: 1px solid #ccc; */
}

/* .list a img {
  width: 100%;
  height: 200px;
} */

.list a > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.list a::before {
  content: '';
  width: 100%;
  /* height: 220px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list:first-child a::before {
  background-image: url(./images/1.jpg);
}

.list:nth-child(2) a::before {
  background-image: url(./images/2.jpg);
}

.list:nth-child(3) a::before {
  background-image: url(./images/3.jpg);
}

.list h4 {
  font-weight: 400;
  font-size: 16px;
  color: #2B292D;
}

.list p {
  font-size: 12px;
  color: #c8c8c8;
}

.black-nav h1 {
  font-size: 20px;
  font-weight: 800;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #333;
  color: #eee;
  text-align: center;
}

.publish {
  display: flex;
  margin-bottom: 20px;
}

.publish input {
  flex: 1;
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.publish button {
  width: 80px;
  background: #0066ff;
  color: #fff;
  padding: 10px;
  margin-left: 10px;
  border-radius: 4px;
}